<div
  class="colored-card colored-card__sand"
  [ngClass]="{ 'colored-card__no-radius': !isDesktop }">
  @if (!isDesktop) {
    <div class="colored-card-title-wraper">
      <span class="colored-card-title">Я автор подкаста</span>
    </div>

    <p class="colored-card-text">
      Я не знаю, как именно мы с вами познакомились. Возможно, через мой блог
      или публичные выступления. <br>В таком случае, я предлагаю послушать вам мой
      подкаст «Ты — это важно» <br>на любой открытой площадке. 
    </p>

    <div class="image-container">
      <img src="./assets/elena-4.jpeg" alt="Elena's photo" class="image" />
    </div>
    <button
      mat-button
      class="action-button listen-podcast-button"
      (click)="openLink('https://elens-way.mave.digital/')">
      Слушать подкаст
      <mat-icon svgIcon="headset" class="youtube-icon"></mat-icon>
    </button>

    <div>
      <p class="colored-card-text">
        Вот уже 3 года он помогает сотням тысяч людей. Журнал Forbes отметил его
        в
        <a
          href="https://www.forbes.ru/forbeslife/449263-drevnerusskie-biznesmeny-i-tajny-genetiki-12-lucsih-novyh-podkastov-na-russkom-azyke"
          target="_self">
          подборке лучших новых подкастов 2021 года,</a
        >
        а в 2023 году получил признание от Яндекс музыки, попав в
        <a
          href="https://music.yandex.ru/non-music/editorial/album/top100_allpodcasts"
          target="_self">
          рейтинг 100 лучших подкастов за все времена.
        </a>
      </p>
      <p class="colored-card-text">
        Больше 100 выпусков помогут вам познакомиться со своими чувствамии
        мыслями, негативными глубинными установками, научиться распознавать
        когнитивные искажения и не насиловать себя позитивом. А истории гостей —
        дадут чувство опоры, что вы в этом мире не одни и помогут ощутить,
        каждая история —это очень важно.
      </p>
      <p class="colored-card-text">
        А с 2024 года подкаст выходит и на ютубе, где вы также найдете
        поддерживающий контент.
      </p>
    </div>

    <button
      mat-button
      class="action-button watch-podcast-button"
      (click)="openLink('https://www.youtube.com/@elens_way')">
      Смотреть подкаст
      <mat-icon svgIcon="youtube" class="youtube-icon"></mat-icon>
    </button>

    <div class="image-container">
      <img
        src="./assets/bottles.jpeg"
        alt="Happines in the bottel"
        class="image" />
    </div>

    <div class="inline-wrapper">
      <span class="colored-card-text colored-card-text__with-background"
        >О подкасте в СМИ:</span
      >
    </div>

    <ul>
      <li class="li-with-offset">
        <a
          href="https://thenoisetier.com/blog/3-podcasts-about-self-love-world-and-awkward-situations"
          target="_self"
          >NOISETIER:<br />3 подкаста о любви к себе, мире <br />и неловких
          ситуациях</a
        >
      </li>
      <li class="li-with-offset">
        <a href="https://thecity.m24.ru/articles/6133" target="_self"
          >СИТИ: <br />Слушаем и успокаиваемся: <br />10 подкастов, помогающих
          справиться с тревожностью</a
        >
      </li>
      <li class="li-with-offset">
        <a
          href="https://peopletalk.ru/article/10-luchshih-resursov-o-psihologii-podkasty-telegram-kanaly-i-instagram-akkaunty/amp/"
          target="_self"
          >PEOPLE TALK:<br />10 лучших ресурсов о психологии</a
        >
      </li>
      <li class="li-with-offset">
        <a
          href="https://vc.ru/media/435426-100-populyarnyh-podkastov-na-russkom-iyun-2022-kakie-podkasty-poslushat"
          target="_self"
          >VC.RU:<br />100 популярных подкастов на русском, июнь 2022. Какие
          подкасты послушать?</a
        >
      </li>
    </ul>
  } @else {
    <div class="card-container">
      <div class="colored-card-title-wraper card-title">
        <span class="colored-card-title">Я автор подкаста</span>
      </div>

      <div class="card-text">
        <div>
          <p
            class="colored-card-text colored-card-text__align-left no-margin-top">
            Я не знаю, как именно мы с вами познакомились. Возможно, через мой
            блог или публичные выступления. В таком случае, я предлагаю
            послушать вам мой подкаст
            <b>«Ты — это важно»</b> на любой открытой площадке. 
          </p>

          <p class="colored-card-text colored-card-text__align-left">
            Вот уже 3 года он помогает сотням тысяч людей. Журнал Forbes отметил
            его в
            <a
              href="https://www.forbes.ru/forbeslife/449263-drevnerusskie-biznesmeny-i-tajny-genetiki-12-lucsih-novyh-podkastov-na-russkom-azyke"
              target="_self">
              подборке лучших новых подкастов 2021 года,</a
            >
            а в 2023 году получил признание от Яндекс музыки, попав в
            <a
              href="https://music.yandex.ru/non-music/editorial/album/top100_allpodcasts"
              target="_self">
              рейтинг 100 лучших подкастов за все времена.
            </a>
          </p>
          <p class="colored-card-text colored-card-text__align-left">
            <b>Больше 100 выпусков</b> помогут вам познакомиться со своими
            чувствамии мыслями, негативными глубинными установками, научиться
            распознавать когнитивные искажения и не насиловать себя позитивом.
          </p>

          <p class="colored-card-text colored-card-text__align-left">
            А истории гостей — дадут чувство опоры, что вы в этом мире не одни,
            и помогут ощутить, каждая история — это очень важно.
          </p>
          <p
            class="colored-card-text colored-card-text__align-left no-margin-bottom">
            А с 2024 года подкаст выходит <b>и на YouTube</b>, где вы также
            найдете поддерживающий контент.
          </p>
        </div>
      </div>

      <div>
        <div class="image-container no-margin-top">
          <img src="./assets/elena-4.jpeg" alt="Elena's photo" class="image" />
        </div>

        <div>
          <button
            mat-button
            class="action-button listen-podcast-button no-margin-bottom"
            (click)="openLink('https://elens-way.mave.digital/', true)">
            Слушать подкаст
            <mat-icon svgIcon="headset" class="youtube-icon"></mat-icon>
          </button>

          <button
            mat-button
            class="action-button watch-podcast-button no-margin-bottom"
            (click)="openLink('https://www.youtube.com/@elens_way', true)">
            Смотреть подкаст
            <mat-icon svgIcon="youtube" class="youtube-icon"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  }
</div>

@if (isDesktop) {
  <div class="colored-card colored-card__green">
    <div class="card-container">
      <div class="colored-card-title-wraper card-title">
        <span class="colored-card-title">О подкасте в СМИ:</span>
      </div>

      <div class="card-text">
        <ul class="no-margin-top">
          <li class="li-with-offset colored-card-text__white">
            <a
              class="colored-card-text__white"
              href="https://thenoisetier.com/blog/3-podcasts-about-self-love-world-and-awkward-situations"
              target="_self"
              >NOISETIER:<br />3 подкаста о любви к себе, мире <br />и неловких
              ситуациях</a
            >
          </li>
          <li class="li-with-offset colored-card-text__white">
            <a
              class="colored-card-text__white"
              href="https://thecity.m24.ru/articles/6133"
              target="_self"
              >СИТИ: <br />Слушаем и успокаиваемся: <br />10 подкастов,
              помогающих справиться с тревожностью</a
            >
          </li>
          <li class="li-with-offset colored-card-text__white">
            <a
              class="colored-card-text__white"
              href="https://peopletalk.ru/article/10-luchshih-resursov-o-psihologii-podkasty-telegram-kanaly-i-instagram-akkaunty/amp/"
              target="_self"
              >PEOPLE TALK:<br />10 лучших ресурсов о психологии</a
            >
          </li>
          <li class="li-with-offset colored-card-text__white">
            <a
              class="colored-card-text__white"
              href="https://vc.ru/media/435426-100-populyarnyh-podkastov-na-russkom-iyun-2022-kakie-podkasty-poslushat"
              target="_self"
              >VC.RU:<br />100 популярных подкастов на русском, июнь 2022. Какие
              подкасты послушать?</a
            >
          </li>
        </ul>

        <button
          mat-button
          class="action-button listen-podcast-button no-margin-bottom"
          (click)="openLink('https://elens-way.mave.digital/')">
          Слушать подкаст
        </button>
      </div>

      <div>
        <div class="image-container no-margin-top no-margin-bottom">
          <img
            src="./assets/bottles.jpeg"
            alt="Happines in the bottel"
            class="image" />
        </div>
      </div>
    </div>
  </div>
}
