<div div class="colored-card colored-card__green">
  <div class="colored-card-title-wraper">
    <span class="colored-card-title"
      >Я предприниматель, автор своего проекта</span
    >
  </div>

  <div class="image-container">
    <img src="./assets/elena-2.jpeg" alt="Elena's photo" class="image" />
  </div>

  <p
    class="colored-card-text colored-card-text__white colored-card-text__without-bottom-margin">
    Я понимаю, что найти своего психолога непросто. Поэтому 2 года назад в
    продолжение своего подкаста я создала портал адекватной информации и
    психологов «Ты — это важно».
  </p>

  <button
    mat-button
    class="action-button"
    (click)="openLink('https://importantmental.ru/')">
    Найти своего психолога
  </button>

  <div class="inline-wrapper sub-title">
    <span class="colored-card-text colored-card-text__with-background"
      >Я отобрала 12 чутких и профессиональных психологов, которые:</span
    >
  </div>

  <p
    class="colored-card-text colored-card-text__white colored-card-text__align-left">
    — постоянно повышают квалификацию<br />
    — проходят как личную терапию, так и супервизию<br />
    — разделяют со мной видение адекватной психотерапии<br />
    — разделяют мои ценности — бережности, любви и тепла.<br />
  </p>

  <mat-icon
    style="width: 70px; height: 70px; margin: 5px 0px"
    svgIcon="arrow-handwrite" />

  <div>
    <p class="colored-card-text colored-card-text__white">
      Мы позаботились о вас еще на моменте знакомства, поэтому вы можете
      посмотреть
      <a
        href="https://importantmental.ru/"
        target="_blank"
        class="colored-card-text__white"
        >видеовизитки каждого специалиста, послушать голос, форму мышления, а
        также почитать статьи или посмотреть эфиры.</a
      >
    </p>
    <p
      class="colored-card-text colored-card-text__white colored-card-text__without-bottom-margin">
      Информация, которую мы создаем с коллегами в любом случае будет вам
      полезна!
    </p>
  </div>

  <button
    mat-button
    class="action-button"
    (click)="openLink('https://importantmental.ru/')">
    Познакомиться с порталом
  </button>
</div>
