<div class="colored-card colored-card__red">
  <div class="colored-card-title-wraper">
    <span class="colored-card-title"
      >Я психолог, <br />
      тренер по развитию эмоционального интеллекта и коммуникациям</span
    >
  </div>

  <div class="image-container">
    <img src="./assets/elena-3.jpeg" alt="Elena's photo" class="image" />
  </div>

  <div class="therapy-reasons">
    <div>
      <div class="inline-wrapper">
        <span class="colored-card-text colored-card-text__with-background">
          И индивидуально я помогаю <br />
          с отношениями с собой, когда:</span
        >
      </div>
      <ul>
        <li>Тревожно, зажато, страшно <br />и неуверенно внутри</li>
        <li>Трудоголизм — ваша проблема</li>
        <li>Потерялись смыслы и внутренние опоры </li>
        <li>
          Нет умения чувствовать свое тело <br />и адекватно его воспринимать
        </li>
        <li>А доброта к себе проявляется, только если…</li>
      </ul>
    </div>

    <div>
      <div class="inline-wrapper">
        <span class="colored-card-text colored-card-text__with-background">
          Я помогаю с отношениями с близкими, когда:</span
        >
      </div>
      <ul>
        <li>
          Воспоминания о детстве доставляют боль и не понятно, как общаться со
          взрослыми родителями
        </li>
        <li>Близость и тревожна, и желанна но отношения строить сложно</li>
        <li>Нет свободы и навыков выражатьсвои эмоции и справляться с ними</li>
      </ul>
    </div>

    <div>
      <div class="inline-wrapper">
        <span class="colored-card-text colored-card-text__with-background">
          Я помогаю  проявлением себя в мир, когда:</span
        >
      </div>
      <ul>
        <li>
          Хочется финансово расти, <br />
          но не упахиваться
        </li>
        <li>
          Есть понимание, что с командой <br />
          и партнерами – это тоже отношения
        </li>
        <li>Тревожно выстроить позиционирование себя в бизнесе и блогинге</li>
        <li>
          Хочется ярко, но этично говорить <br />
          о сложном и прокачать навыки коммуникации
        </li>
      </ul>
    </div>
  </div>

  <button
    mat-button
    class="action-button"
    routerLink=""
    fragment="consultation">
    Записаться на консультацию
  </button>

  <div class="image-container">
    <img src="./assets/plant.jpeg" alt="Plant" class="image" />
  </div>

  <p class="colored-card-text colored-card-text__bold">
    Я работаю в интегративном подходе, сочетая техники когнитивно-поведенческой
    психотерапии, эмоционального интеллекта, гештальт-терапии, экзистенциальной
    психологии, подходя к каждому человеку индивидуально.
  </p>

  <div class="inline-wrapper margin-top">
    <span class="colored-card-text colored-card-text__with-background">
      При этом:</span
    >
  </div>
  <ul>
    <li class="li-with-offset">
      Я не работаю с людьми, которых привели родственники или замотивировали
      друзья
    </li>
    <li class="li-with-offset">
      Я не смогу проделать всю работу за вас: психолог не выступает в роли
      спасателя. Но я буду рядом и помогу найти оптимальное решение на вашем
      жизненном пути
    </li>
    <li class="li-with-offset">
      Всё то, чем вы делитесь, остается конфиденциально в рамках нашей
      коммуникации
    </li>
    <li class="li-with-offset">
      Вся моя работа направлена на улучшение вашего состояния
    </li>
    <li class="li-with-offset">
      Поэтому я постоянно повышаю уровень своих знаний, прохожу супервизию и
      сама нахожусь в непрерывной личной психотерапии. На сегодняшний день мой
      опыт более 600 часов
    </li>
  </ul>
</div>
