<div class="colored-card colored-card__red">
  @if (!isDesktop) {
    <div class="colored-card-title-wraper">
      <span class="colored-card-title">Я психолог</span>
    </div>

    <div>
      <p class="colored-card-text">
        Наш мир динамичен и изменчив. И сохранить в себе чувство спокойствия,
        веры, внутренней устойчивостии удовлетворенности можно только при
        контакте с собой.
      </p>
      <p class="colored-card-text">
        Собой настоящим. Сложность в том, что многие себя не знают, не знают, на
        что опираться. А вопросы
        <b>«Кто Я? Про что Я? Что мне важно?»</b> пугают. Первично в голову
        приходят роли: мать, отец, сын, дочь, друг, сотрудник... А что за ними
        стоит?
      </p>
    </div>

    <div class="image-container">
      <img src="./assets/mirror.jpeg" alt="Mirror" class="image" />
    </div>

    <div class="core-questions">
      <div class="inline-wrapper inline-wrapper__margin-top">
        <span class="colored-card-text colored-card-text__with-background">
          — Что вам важно?
        </span>
      </div>
      <div class="inline-wrapper">
        <span class="colored-card-text colored-card-text__with-background">
          — Чего не хватает для спокойствия, чувства доверия себе,
          счастья?</span
        >
      </div>
      <div class="inline-wrapper">
        <span class="colored-card-text colored-card-text__with-background">
          — Что поможет достигать целей без насилия к себе?
        </span>
      </div>
    </div>

    <div>
      <p class="colored-card-text">
        А ведь это не миф. Это может стать вашей рутиной, реальностью вне
        зависимости от внешних обстоятельств. Ведь сила, устойчивость,
        удовлетворенности, в первую очередь, внутри вас.
      </p>
      <p class="colored-card-text colored-card-text__without-bottom-margin">
        И я могу вам помочь.
      </p>
    </div>

    <button
      mat-button
      class="action-button"
      routerLink=""
      fragment="consultation">
      Записаться на консультацию
    </button>
  } @else {
    <div class="card-container">
      <div class="colored-card-title-wraper card-title">
        <span class="colored-card-title">Я психолог</span>
      </div>

      <div class="card-text">
        <div>
          <p
            class="colored-card-text no-margin-top colored-card-text__align-left">
            Наш мир динамичен и изменчив. <br />И сохранить в себе чувство
            спокойствия, веры, внутренней устойчивости <br> и удовлетворенности можно
            только <br> при контакте с собой.
          </p>
          <p class="colored-card-text colored-card-text__align-left">
            Собой настоящим. Сложность в том, что многие себя не знают, не
            знают, на что опираться. А вопросы
            <b>«Кто Я? Про что Я? <br>Что мне важно?»</b> пугают. Первично в голову
            приходят роли: мать, отец, сын, дочь, друг, сотрудник... А что за
            ними стоит?
          </p>
        </div>

        <div class="arrow-container">
          <mat-icon
            style="width: 40px; height: 40px; margin: 5px 0px"
            svgIcon="arrow-handwrite" />
        </div>

        <div>
          <div class="core-questions">
            <span class="colored-card-text"> <b>— Что вам важно?</b> </span>

            <span class="colored-card-text">
              <b
                >— Чего не хватает для спокойствия, чувства доверия себе,
                счастья?</b
              ></span
            >

            <span class="colored-card-text">
              <b>— Что поможет достигать целей без насилия к себе?</b>
            </span>
          </div>

          <p class="colored-card-text">
            А ведь это не миф. Это может стать вашей рутиной, реальностью вне
            зависимости от внешних обстоятельств. Ведь сила, устойчивость,
            удовлетворенности, в первую очередь, внутри вас.
          </p>
          <p class="colored-card-text colored-card-text__without-bottom-margin">
            И я могу вам помочь.
          </p>
        </div>
      </div>

      <div>
        <div class="image-container no-margin-top">
          <img src="./assets/mirror.jpeg" alt="Mirror" class="image" />
        </div>

        <button
          mat-button
          class="action-button no-margin-bottom"
          routerLink=""
          fragment="consultation">
          Записаться на консультацию
        </button>
      </div>
    </div>
  }
</div>
