<div class="colored-card" [ngClass]="{ 'desktop-card': isDesktop }">
  <span
    class="colored-card-title colored-card-text__without-margin text-with-offset text-with-offset__left"
    >Индивидуальное консультирование</span
  >

  <p
    class="colored-card-text colored-card-text__without-bottom-margin text-with-offset">
    <u>Я помогу:</u>
  </p>
  <span class="colored-card-text text-with-offset"
    >— с отношениями с собой</span
  >
  <span class="colored-card-text text-with-offset"
    >— с отношениями с близкими
  </span>
  <span class="colored-card-text text-with-offset"
    >— с проявлением себя в мир</span
  >

  <ul class="price-list">
    <li>60 минут</li>
    <li>15 000₽ или 150€</li>
  </ul>

  <p
    class="colored-card-text colored-card-text__without-margin text-with-offset">
    Свободное время и даты уточняйте в Telegram
  </p>

  <button
    mat-button
    class="action-button"
    [ngClass]="{ 'desktop-action-button': isDesktop }"
    (click)="openLink('https://t.me/elena_mitskevich')">
    Записаться на консультацию
  </button>
</div>
