<div class="colored-card">
  <span class="colored-card-title text-with-offset"
    >Индивидуальное консультирование</span
  >

  <ul class="price-list">
    <li>60 минут</li>
    <li>15 000₽ или 150€</li>
  </ul>

  <p
    class="colored-card-text colored-card-text__without-margin text-with-offset">
    Свободное время и даты уточняйте в Telegram
  </p>

  <button
    mat-button
    class="action-button"
    (click)="openLink('https://t.me/elena_mitskevich')">
    Записаться на консультацию
  </button>
</div>
