<div class="colored-card" [ngClass]="{ 'desktop-card': isDesktop }">
  <span
    class="colored-card-title colored-card-text__without-margin text-with-offset text-with-offset__left"
    >Индивидуальное консультирование</span
  >

  @if (isDesktop) {
    <p class="colored-card-text text-with-offset colored-card-text__align-left">
      Личная терапия — особенная территория для развития личности.  Это работа с
      мышлением, знакомство с эмоциями и сигналами собственного тела. Это
      развитие навыков общения и построение нового поведения для проявление себя
      в мир.
    </p>

    <p
      class="colored-card-text colored-card-text__without-margin text-with-offset colored-card-text__align-left">
      Но самое главное —это пространство, где вы можете познакомиться и
      научиться строить отношения с собой. Чуткие и надежные.
    </p>

    <p
      class="colored-card-text colored-card-text__without-bottom-margin text-with-offset colored-card-text__align-left">
      <b>Продолжительность сессии — 60 минут</b>
    </p>
    <p
      class="colored-card-text colored-card-text__without-top-margin text-with-offset colored-card-text__align-left">
      <b>Стоимость: 15000₽ или 150€.</b>
    </p>
  } @else {
    <p class="colored-card-text text-with-offset colored-card-text__align-left">
      Личная терапия — особенная территория для развития вашей личности.
    </p>

    <p
      class="colored-card-text colored-card-text__without-margin text-with-offset colored-card-text__align-left">
      Это работа с мышлением, эмоциями и сигналами собственного тела. Это
      развитие навыков общения и нового поведения. Это возможность познакомиться
      и научиться строить отношения с собой. Чуткие и надежные.
    </p>

    <ul style="margin-left: 15px; margin-right: 15px">
      <li style="font-size: 18px">
        <b>Продолжительность сессии — 60 минут</b>
      </li>
      <li style="font-size: 18px"><b>Стоимость: 15000₽ или 150€.</b></li>
    </ul>
  }

  <p
    class="colored-card-text colored-card-text__without-margin text-with-offset colored-card-text__align-left">
    Свободное время и даты уточняйте в Telegram.
  </p>

  <button
    mat-button
    class="action-button"
    [ngClass]="{ 'desktop-action-button': isDesktop }"
    (click)="openLink('https://t.me/elena_mitskevich')">
    Записаться на консультацию
  </button>
</div>
