:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  @media only screen and (min-width: 1180px) {
    height: 780px;
  }
}

.desktop-card {
  padding: 30px 30px;
  height: 100%;
}

.price-list {
  padding: 0 45px;
  margin-top: 20px;
  width: 100%;
}

.desktop-action-button {
  margin-top: auto;
}

.text-with-offset {
  padding: 0px 15px;
  text-align: left;

  &__left {
    text-align: left;

    @media only screen and (min-width: 1180px) {
      font-size: 27px;
      font-weight: 700px;
      min-height: 100px;
    }
  }
}
