<div class="additional-section-container">
  <div class="additional-section">
    <div style="display: inline; text-align: center">
      <span class="additional-section-title">
        Я предприниматель, автор своего проекта
      </span>
    </div>
    <div class="image-container">
      <img src="./assets/elena-2.jpeg" alt="Elena's photo" class="image" />
    </div>
    <p class="additional-section-text">
      Я понимаю, что найти своего психолога непросто. Поэтому 2 года назад в
      продолжение своего подкаста я создала портал адекватной информации и
      психологов «Ты — это важно».
    </p>

    <button
      mat-button
      class="action-button"
      (click)="openLink('https://importantmental.ru/')">
      Найти своего психолога
    </button>
    <p class="additional-section-text">
      Я отобрала 12 чутких и профессиональных психологов, постоянно повышающих
      квалификацию и проходящих, как личную терапию, так и супервизию. Которые
      не только разделяют со мной видение адекватной психотерапии, но и, самое
      главное, ценности – бережности, любви и тепла.
    </p>
    <p class="additional-section-text">
      Мы позаботились о вас еще на моменте знакомства, поэтому вы можете
      посмотреть видео визитки каждого специалиста, послушать голос, форму
      мышления, а также почитать статьи или посмотреть эфиры.
    </p>
    <p class="additional-section-text">
      Информация, которую мы создаем с коллегами в любом случае будет вам
      полезна!
    </p>
    <button
      mat-button
      class="action-button"
      (click)="openLink('https://importantmental.ru/')">
      Познакомиться с порталом
    </button>
  </div>

  <div class="additional-section additional-section__red">
    <div style="display: inline; text-align: center">
      <span class="additional-section-title">
        Я психолог, тренер по развитию эмоционального интеллекта и коммуникациям
      </span>
    </div>

    <div class="image-container">
      <img src="./assets/elena-3.jpeg" alt="Elena's photo" class="image" />
    </div>

    <div style="display: inline; margin-top: 5px">
      <span class="additional-section-text__colored">
        И индивидуально я помогаю с отношениями с собой, когда:</span
      >
    </div>

    <ul class="bullet-list">
      <li>Тревожно, зажато, страшно и неуверенно внутри</li>
      <li>Трудоголизм — ваша проблема</li>
      <li>Потерялись смыслы и внутренние опоры </li>
      <li>Нет умения чувствовать свое тело и адекватно его воспринимать</li>
      <li>А доброта к себе проявляется, только если…</li>
    </ul>

    <div style="display: inline; margin-top: 40px">
      <span class="additional-section-text__colored">
        Я помогаю с отношениями с близкими, когда:</span
      >
    </div>

    <ul class="bullet-list">
      <li>
        Воспоминания о детстве доставляют боль и не понятно, как общаться со
        взрослыми родителями
      </li>
      <li>Близость и тревожна, и желанна но отношения строить сложно</li>
      <li>Нет свободы и навыков выражатьсвои эмоции и справляться с ними</li>
    </ul>

    <div style="display: inline; margin-top: 40px">
      <span class="additional-section-text__colored">
        Я помогаю  проявлением себя в мир, когда:</span
      >
    </div>

    <ul class="bullet-list">
      <li>Хочется финансово расти,но не упахиваться</li>
      <li>Есть понимание, что с командой и партнерами – это тоже отношения</li>
      <li>Тревожно выстроить позиционирование себя в бизнесе и блогинге</li>
      <li>
        Хочется ярко, но этично говорить о сложном и прокачать навыки
        коммуникации
      </li>
    </ul>

    <button mat-button class="action-button">Записаться на консультацию</button>
  </div>
</div>
