<mat-sidenav-container
  class="page-container"
  [hasBackdrop]="true"
  [ngStyle]="{ position: sidenav.opened ? 'fixed' : 'relative' }">
  <mat-sidenav
    #sidenav
    class="sidenaw"
    mode="over"
    position="end"
    [autoFocus]="false"
    [fixedInViewport]="true">
    <div class="sidenaw-header">
      <h2 class="toolbar-title" [routerLink]="'/'" (click)="sidenav.close()">
        Елена Мицкевич
      </h2>
      <mat-icon class="close-icon" (click)="sidenav.close()">close</mat-icon>
    </div>
    <div class="sidenaw-content">
      @for (menuItem of menuItems; track menuItem) {
        <div class="menu-item" (click)="navigateToLink(menuItem, sidenav)">
          <span class="menu-title">{{ menuItem.name }}</span>
          <mat-icon svgIcon="arrow-bottom-right"></mat-icon>
        </div>
      }
    </div>
    <div class="footer-content">
      @for (footerItem of footerItems; track footerItem) {
        <div class="footer-item" (click)="navigateToLink(footerItem, sidenav)">
          <mat-icon
            class="footer-icon"
            [svgIcon]="footerItem.iconName || ''"></mat-icon>
          <span class="footer-title">{{ footerItem.name }}</span>
        </div>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar" id="toolbar">
      <div class="toolbar-content">
        <h1 class="toolbar-title" [routerLink]="'/'">Елена Мицкевич</h1>
        @if (!isDesktop) {
          <mat-icon
            class="menu-icon"
            svgIcon="hamburger-4"
            (click)="sidenav.toggle()">
          </mat-icon>
        } @else {
          <div class="desktop-navigation">
            @for (menuItem of menuItems; track menuItem) {
              <span
                class="menu-title"
                (click)="navigateToLink(menuItem, sidenav)"
                >{{ menuItem.shortName }}</span
              >
            }
          </div>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
