<mat-drawer-container class="page-container" [hasBackdrop]="true">
  <mat-drawer #drawer class="drawer" mode="over" position="start">
    <div class="drawer-header">
      <span>Елена Мицкевич</span>
      <mat-icon class="close-icon" (click)="drawer.close()">close</mat-icon>
    </div>
    <div class="drawer-content">
      @for (menuItem of menuItems; track menuItem) {
        <div class="menu-item">
          <span class="menu-title">{{ menuItem.name }}</span>
          <mat-icon svgIcon="arrow-bottom-right"></mat-icon>
        </div>
      }
    </div>
    <div class="footer-content">
      @for (footerItem of footerItems; track footerItem) {
        <div class="footer-item">
          <mat-icon [svgIcon]="footerItem.iconName"></mat-icon>
          <span class="footer-title">{{ footerItem.name }}</span>
        </div>
      }
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <h1 class="toolbar-title">Елена Мицкевич</h1>
      <mat-icon
        class="menu-icon"
        svgIcon="hamburger-4"
        (click)="drawer.toggle()"></mat-icon>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
<router-outlet />
