<mat-sidenav-container
  class="page-container"
  [hasBackdrop]="true"
  [ngStyle]="{ position: sidenav.opened ? 'fixed' : 'relative' }">
  <mat-sidenav
    #sidenav
    class="sidenaw"
    mode="over"
    position="end"
    [fixedInViewport]="true">
    <div class="sidenaw-header">
      <span>Елена Мицкевич</span>
      <mat-icon class="close-icon" (click)="sidenav.close()">close</mat-icon>
    </div>
    <div class="sidenaw-content">
      @for (menuItem of menuItems; track menuItem) {
        <div class="menu-item" (click)="navigateToLink(menuItem)">
          <span class="menu-title">{{ menuItem.name }}</span>
          <mat-icon svgIcon="arrow-bottom-right"></mat-icon>
        </div>
      }
    </div>
    <div class="footer-content">
      @for (footerItem of footerItems; track footerItem) {
        <div class="footer-item" (click)="navigateToLink(footerItem)">
          <mat-icon [svgIcon]="footerItem.iconName || ''"></mat-icon>
          <span class="footer-title">{{ footerItem.name }}</span>
        </div>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary" class="toolbar">
        <h1 class="toolbar-title">Елена Мицкевич</h1>
        <mat-icon
          class="menu-icon"
          svgIcon="hamburger-4"
          (click)="sidenav.toggle()"></mat-icon>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
