<div class="quote-block">
  <span class="quote">«Я не то, что со мной случилось.</span>
  <span class="quote">Я — то, чем я решил стать»</span>
  <span class="quote-name">Карл Юнг</span>
</div>
<div class="image-container image-container__with-padding initial-image">
  <img src="./assets/elena-1.jpeg" alt="Elena's Photo" class="image" />
</div>

<span class="sub-title">Елена Мицкевич</span>
<p class="sub-title-info">
  Практикующий психолог, <br />Тренер по развитию эмоционального интеллекта и
  коммуникациям, <br />Предприниматель, автор подкаста
</p>

<div class="additional-section-container">
  <app-psychologist></app-psychologist>
  <app-podcast id="podcast"></app-podcast>
  <app-portal id="portals"></app-portal>
  <app-about-therapy></app-about-therapy>
  <app-individual-consultations
    id="consultation"></app-individual-consultations>
  <app-group-consultation id="groupTrainings"></app-group-consultation>
  <app-education></app-education>
  <app-podcat-list></app-podcat-list>
</div>

<p class="media-title">
  И чтобы не прощаться, приглашаю вас в мои социальные сети:
</p>

<div class="media-content">
  @for (footerItem of footerItems; track footerItem) {
    <div class="media-item" (click)="openLink(footerItem.link)">
      <mat-icon class="media-icon" [svgIcon]="footerItem.iconName || ''"></mat-icon>
      <span class="media-sub-title">{{ footerItem.name }}</span>
    </div>
  }
</div>

<app-footer></app-footer>
