:host {
  display: flex;
  margin-top: 140px;
  flex-direction: column;
  align-items: center;
}

.quote-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: end;
  padding: 0px 30px;
  width: 100%;

  .quote {
    max-width: 235px;
    width: max-content;
    background-color: #d8a39b;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
  }

  .quote-name {
    margin-top: 5px;
    max-width: 235px;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
  }
}

.sub-title {
  width: min-content;
  padding: 0px 30px;
  font-size: 42px;
  font-weight: 800;
  max-width: 500px;
  width: 100%;
}

.sub-title-info {
  font-weight: 300;
  padding: 10px 30px;
  font-size: 18px;
  max-width: 500px;
}

.additional-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}
