@if (!isDesktop) {
  <div class="quote-block">
    <span class="quote">«Я не то, что со мной случилось.</span>
    <span class="quote">Я — то, чем я решил стать»</span>
    <span class="quote-name">Карл Юнг</span>
  </div>
  <div class="image-container image-container__with-padding initial-image">
    <img src="./assets/elena-1.jpeg" alt="Elena's Photo" class="image" />
  </div>

  <span class="sub-title">Елена Мицкевич </span>
  <p class="sub-title-info">
    — практикующий психолог, <br />тренер по развитию эмоционального интеллекта
    и коммуникациям, <br />предприниматель, <br />автор подкаста «Ты — это
    важно»
  </p>
} @else {
  <div class="top-info">
    <div class="image-container image-container__with-padding initial-image">
      <img src="./assets/elena-1.jpeg" alt="Elena's Photo" class="image" />
    </div>

    <div class="colored-card small-paddings">
      <div class="quote-block">
        <span class="quote">«Я не то, что со мной случилось.</span>
        <span class="quote">Я — то, чем я решил стать»</span>
        <span class="quote-name">Карл Юнг</span>
      </div>

      <span class="main-name"
        >Елена<br />
        Мицкевич</span
      >

      <div class="about-me">
        <div class="me-row">
          <div class="me-item">
            <mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon>
            Практикующий психолог
          </div>

          <div class="me-item">
            <mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon>
            Предприниматель
          </div>
        </div>

        <div class="me-row">
          <div class="me-item">
            <mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon>
            Тренер по развитию<br />
            эмоционального интеллекта <br />и коммуникациям
          </div>

          <div class="me-item">
            <mat-icon svgIcon="arrow-right" class="arrow-right"></mat-icon>
            Автор подкаста «Ты — это важно»
          </div>
        </div>
      </div>

      <button
        mat-button
        class="action-button no-margin-bottom margin-top-auto"
        routerLink=""
        fragment="consultation">
        Записаться на консультацию
      </button>
    </div>
  </div>
}

<div class="additional-section-container">
  <app-psychologist [isDesktop]="isDesktop"></app-psychologist>
  <app-podcast id="podcast" [isDesktop]="isDesktop"></app-podcast>
  <app-portal id="portals" [isDesktop]="isDesktop"></app-portal>
  <app-about-therapy [isDesktop]="isDesktop"></app-about-therapy>
  <div class="consultation-block">
    <app-individual-consultations
      id="consultation"
      [isDesktop]="isDesktop"></app-individual-consultations>
    <app-group-consultation
      id="groupTrainings"
      [isDesktop]="isDesktop"></app-group-consultation>
    <app-group-consultation
      id="mediate"
      [isDesktop]="isDesktop"
      [mediate]="true"></app-group-consultation>
  </div>

  <app-education [isDesktop]="isDesktop"></app-education>
  <app-podcat-list [isDesktop]="isDesktop"> </app-podcat-list>
</div>

<p class="media-title">
  И чтобы не прощаться, приглашаю вас в мои социальные сети:
</p>

<div class="media-content">
  @for (footerItem of footerItems; track footerItem) {
    <div class="media-item" (click)="openLink(footerItem.link)">
      <mat-icon
        class="media-icon"
        [svgIcon]="footerItem.iconName || ''"></mat-icon>
      <span class="media-sub-title">{{ footerItem.name }}</span>
    </div>
  }
</div>

<app-footer></app-footer>
