<div class="colored-card colored-card__green">
  @if (!isDesktop) {
    <div class="colored-card-title-wraper">
      <span class="colored-card-title">Моё образование</span>
    </div>
    <div class="image-container education-image">
      <img src="./assets/elena-5.jpeg" alt="Elena's photo" class="image" />
    </div>

    <div class="inline-wrapper">
      <span class="colored-card-text colored-card-text__white"
        >Федеральный институт переподготовки</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Нейропсихолог</span
    >
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Практический психолог</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Ассоциация Когнитивно-Поведенческой терапии</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Базовый курс когнитивно-поведенческой терапии</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Московский институт психоанализа</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Экзистенциальная психология личности</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Московский гештальт институт</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Базовый курс гештальт-терапии</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Высшая экономическая школа</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Курс медиации и переговоров</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Международный центр<br />«Креативные технологии консалтинга»</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Тренер эмоционального интеллекта</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Интегративный институт гештальт тренинга</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Работа со сложными чувствами</span
    >

    <div class="inline-wrapper block-with-margin-top">
      <span class="colored-card-text colored-card-text__white"
        >Институт практической психологии Иматон</span
      >
    </div>
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Клиническая психология</span
    >
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Работа с депрессивными состояниями</span
    >
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Работа с травмой привязанности</span
    >
    <span
      class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
      >— Mindfulness — развитие осознанности и повышение
      стрессоустойчивости</span
    >
    <span
      class="colored-card-text colored-card-text__align-left full-width block-with-margin-bottom colored-card-text__white"
      >— Работа с конфликтами в семье</span
    >
  } @else {
    <div class="card-container">
      <div class="image-container full-height no-margin-top">
        <img
          src="./assets/elena-5.jpeg"
          alt="Elena's photo"
          class="image full-height" />
      </div>

      <div class="card-text">
        <div class="colored-card-title-wraper card-title">
          <span class="colored-card-title">Моё образование</span>
        </div>

        <div class="inline-wrapper">
          <span class="colored-card-text colored-card-text__white"
            >Федеральный институт переподготовки</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Нейропсихолог</span
        >
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Практический психолог</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span class="colored-card-text colored-card-text__white"
            >Ассоциация Когнитивно-Поведенческой терапии</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Базовый курс когнитивно-поведенческой терапии</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span class="colored-card-text colored-card-text__white"
            >Московский институт психоанализа</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Экзистенциальная психология личности</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span class="colored-card-text colored-card-text__white"
            >Московский гештальт институт</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Базовый курс гештальт-терапии</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span class="colored-card-text colored-card-text__white"
            >Высшая экономическая школа</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Курс медиации и переговоров</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span
            class="colored-card-text"
            [ngClass]="{
              'colored-card-text__white colored-card-text__white': isDesktop
            }"
            >Международный центр<br />«Креативные технологии консалтинга»</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Тренер эмоционального интеллекта</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span
            class="colored-card-text"
            [ngClass]="{
              'colored-card-text__white colored-card-text__white': isDesktop
            }"
            >Интегративный институт гештальт тренинга</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Работа со сложными чувствами</span
        >

        <div class="inline-wrapper block-with-margin-top">
          <span class="colored-card-text colored-card-text__white"
            >Институт практической психологии Иматон</span
          >
        </div>
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Клиническая психология</span
        >
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Работа с депрессивными состояниями</span
        >
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Работа с травмой привязанности</span
        >
        <span
          class="colored-card-text colored-card-text__align-left full-width colored-card-text__white"
          >— Mindfulness — развитие осознанности и повышение
          стрессоустойчивости</span
        >
        <span
          class="colored-card-text colored-card-text__align-left full-width block-with-margin-bottom colored-card-text__white"
          >— Работа с конфликтами в семье</span
        >
      </div>
    </div>
  }
</div>
