<div class="colored-card colored-card__green">
  <div class="colored-card-title-wraper">
    <span class="colored-card-title">Моё образование</span>
  </div>
  <div class="image-container">
    <img src="./assets/elena-5.jpeg" alt="Elena's photo" class="image" />
  </div>

  <div class="inline-wrapper">
    <span class="colored-card-text">Федеральный институт переподготовки</span>
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Нейропсихолог</span
  >
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Практический психолог</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text"
      >Ассоциация Когнитивно-Поведенческой терапии</span
    >
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Базовый курс когнитивно-поведенческой терапии</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text">Московский институт психоанализа</span>
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Экзистенциальная психология личности</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text">Московский гештальт институт</span>
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Базовый курс гештальт-терапии</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text">Высшая экономическая школа</span>
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Курс медиации и переговоров</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text"
      >Международный центр<br />«Креативные технологии консалтинга»</span
    >
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Тренер эмоционального интеллекта</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text"
      >Интегративный институт гештальт тренинга</span
    >
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Работа со сложными чувствами</span
  >

  <div class="inline-wrapper block-with-margin-top">
    <span class="colored-card-text"
      >Институт практической психологии Иматон</span
    >
  </div>
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Клиническая психология</span
  >
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Работа с депрессивными состояниями</span
  >
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Работа с травмой привязанности</span
  >
  <span class="colored-card-text colored-card-text__align-left full-width"
    >— Mindfulness — развитие осознанности и повышение стрессоустойчивости</span
  >
  <span
    class="colored-card-text colored-card-text__align-left full-width block-with-margin-bottom"
    >— Работа с конфликтами в семье</span
  >
</div>
