@use '@angular/material' as mat;
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

$elens-way-primary: mat.define-palette(mat.$indigo-palette);
$elens-way-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$elens-way-warn: mat.define-palette(mat.$red-palette);

$elens-way-theme: mat.define-light-theme(
  (
    color: (
      primary: $elens-way-primary,
      accent: $elens-way-accent,
      warn: $elens-way-warn
    )
  )
);

@include mat.all-component-themes($elens-way-theme);

body {
  margin: 0px;
  position: static;
  overflow-y: auto;
  --mat-icon-color: #374709;
}

* {
  font-family: 'Commissioner', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #374709;
}

svg {
  color: var(--mat-icon-color);
}

path {
  color: inherit;
}

.mdc-button {
  background-color: #374709 !important;
  height: 56px !important;
  border-radius: 15px !important;
  transition: background-color 0.2s ease-out 100ms;

  &:hover {
    background-color: #759242 !important;
  }

  .mdc-button__label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400px;
  }
}

.image-container {
  width: 100%;
  margin: 30px 0px 14px 0px;
  max-width: 500px;

  @media only screen and (min-width: 1180px) {
    max-width: unset;
    width: 380px;
  }

  &__with-padding {
    padding: 30px 30px 14px 30px;
  }

  .image {
    width: 100%;
    border-radius: 30px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    box-shadow: 0px 4px 40px 0px #37470933;
  }
}

.colored-card {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 40px 0px #0000001a;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  max-width: 500px;
  width: 100%;

  @media only screen and (min-width: 1180px) {
    max-width: 1120px;
    align-items: start;
    padding: 80px 56px;
  }

  &__green {
    background-color: #759242;
  }

  &__red {
    background-color: #e1c3b8;
  }

  &__sand {
    background-color: #f9f4eb;
  }

  &__no-radius {
    border-radius: 0px;
  }
}

.colored-card-title-wraper {
  display: inline;
  text-align: center;
  margin: 20px 0px 0px;
  width: 100%;

  @media only screen and (min-width: 1180px) {
    text-align: left;
    text-transform: uppercase;
    margin: 0px;
    max-width: 500px;
  }
}

.colored-card-title {
  margin: 0px;
  font-size: 30px;
  font-weight: 800;
  background-color: #ffffff;
  margin-top: 20px;
  text-align: center;

  @media only screen and (min-width: 1180px) {
    background-color: unset;
    max-width: 500px;
  }

  &__align-left {
    text-align: left;
  }
}

.action-button {
  margin: 40px 0px 20px 0px;
  width: 100%;
}

.colored-card-text {
  text-align: justify;
  font-size: 18px;
  width: 100%;

  &__with-background {
    background-color: #ffffff;
  }

  &__white {
    color: #ffffff;
  }

  &__align-left {
    text-align: left;
  }

  &__without-top-margin {
    margin-top: 0px;
  }

  &__without-bottom-margin {
    margin-bottom: 0px;
  }

  &__without-margin {
    margin: 0px;
  }

  &__bold {
    font-weight: 500;
  }
}

.inline-wrapper {
  display: inline;
  text-align: left;
  width: 100%;
  font-weight: 500;

  &__margin-top {
    margin-top: 10px;
  }
}

ul {
  padding-left: 30px;
}

.li-with-offset {
  margin-top: 1.5em;

  &:first-child {
    margin-top: 0px;
  }
}
