:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  @media only screen and (min-width: 1180px) {
    height: 740px;
  }
}

.desktop-card {
  padding: 30px 30px;
  height: 100%;
}

.text-with-offset {
  padding: 0px 15px;

  @media only screen and (min-width: 1180px) {
    padding: 0px;
  }

  &__left {
    text-align: left;

    @media only screen and (min-width: 1180px) {
      font-size: 27px;
      font-weight: 700px;
    }
  }
}

.desktop-action-button {
  margin-top: auto;
}
