<div class="colored-card">
  <span class="colored-card-title text-with-offset"
    >Групповое обучение для вашего бизнеса и команды</span
  >
  <div>
    <p class="colored-card-text text-with-offset">
      Вы можете описать мне свои проблемы и запросы. А я и как предприниматель,
      и как тренер по развитию эмоционального интеллекта и коммуникациям, смогу 
      написать под ваш случай программу или лекцию.
    </p>

    <p
      class="colored-card-text colored-card-text__without-margin text-with-offset">
      Условия индивидуальны. 
    </p>
  </div>

  <button
    mat-button
    class="action-button"
    (click)="openLink('https://t.me/elena_mitskevich')">
    Записаться на консультацию
  </button>
</div>
